#Ignoring git and cache folders
.git
.cache
build-docker-image.sh
run-docker-image.sh


# For security
*.key
*.pem
*.crt
*.csr

# Other junk
*.swp
*.log

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

logs/
test/
src/bin/